<div class="skip-link-wrapper">
  <a class="skip-link" href="#main-content">Skip to main content</a>
</div>
<header class="site-header">
  <div class="navbar">
    <a class="brand" href="index.html" data-root-href="index.html">
      <img
        class="brand-logo"
        src="assets/img/logo/joko-logo.svg"
        data-root-src="assets/img/logo/joko-logo.svg"
        alt="Joko's Jang-Namul-Bap Logo"
        width="48"
        height="48"
      />
      <span class="brand-text">Joko's Korean Food Recipes for Foreigners </span>
    </a>
    <nav class="nav" aria-label="Main Navigation">
      <ul class="nav-links">
        <li><a href="index.html" data-root-href="index.html">Home</a></li>
        <li><a href="recipes/index.html" data-root-href="recipes/index.html">Recipes</a></li>
        <li><a href="guides/vegan-halal.html" data-root-href="guides/vegan-halal.html">Guides</a></li>
        <li><a href="about.html" data-root-href="about.html">About</a></li>
      </ul>
    </nav>
  </div>
</header>
